@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

*{
    font-family: 'Yeon Sung', cursive;
}

.footer{
    position: fixed !important;
    bottom: 0;
}

#image{
    width: 70%;
    padding: 1rem;

}

@media (max-width:768px){
    /* .navbar-nav{
        align-items: flex-end;
    } */

    .footer{
        position: sticky !important;
    }
}







