@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

*{
    font-family: 'Yeon Sung', cursive;
}

/* .footer{
    position: sticky;
    bottom: 0;
} */

.hidden{
    display: none;
}

@media (max-width:768px){
    .navbar-nav{
        align-items: flex-end;
        /* background-color: red; */
    }

    .footer{
        position: relative;
        bottom: 0;
    }
}







